.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.game-item {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: white;
}

.game-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  text-align: center;
  align-items: center;
}

.card-body {
  padding: 10px;
  text-align: center;
  
}