/* App.css */

/* Navbar container */
.navbar {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border-bottom: 25px solid #07c0f8;
  font-size: 20px;
}

/* Container for the nav links */
.nav-link {
  display: flex;
  justify-content: center;
  flex: 1;
}
/* Placeholder for the logo */
.logo {
  font-size: 20px;
  font-weight: bold;
}
/* Styling for the nav buttons */
.nav-button {
  background: none;
  border: none;
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.nav-button:hover {
  text-decoration: underline;
}

.signup-button {
  font-weight: bold;
  color: #007bff;
}

.signup-button:hover {
  text-decoration: underline;
}
